// Colors
$golden-yellow: #F3BA2F;
// Bg-color-hover

// Borders

// Font-families

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 745px;
$medium-breakpoint: 950px;
$normal-breakpoint: 1125px;
$wide-breakpoint: 1390px;
$ultra-wide-breakpoint: 1920px;